@import url("https://fonts.googleapis.com/css2?fmaily=Poppins:wght@300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url("images/bg4.jpg") ;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%; 
    background: rgba(0, 0, 0, 0.558);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.heading {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a {
    position: relative;
    top: 50px;
    left: 670px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px; 
   
}

.navbar a::before { 
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.container {
    position: absolute;
    display: flex;
    width: 1200px; 
    margin: 0 auto;
}

nav {
    position: relative;
    top: -50px;
    left: 12px;
    bottom: 0;
    width: 100%; 
    height: auto; 
}

.empty0{
    left: 1.3rem;
    top: 7rem;
    height: 30rem;
    width: 180px;
    position: absolute;
    background-color: rgb(25, 25, 25);
    border-radius: 15px;

}

.sidebar{
    position: absolute;
}

.sidebar a {
  position: relative;
  left: 20px;
  top: 110px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px; 
}

.sidebar a::before { 
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.sidebar a:hover::before {
  width: 100%;
}

.sidebar {
    width: 100%; 
    margin: 0 auto;
}

.nav-item2::before{
    content: '>';
    list-style-image: url('flutter.png');
}

.logo {
    margin: 2rem 0 1rem 0;
    padding-bottom: 2rem; 
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo h1 {
    margin-left: 1rem;
    text-transform: uppercase;
}

ol {
    margin: 0 auto;
}

li {
    padding-bottom: 1.3rem; 
}

li a {
    font-size: 16px;
    color: rgb(85, 83, 83);
}

nav i {
    width: 50px;
    font-size: 18px;
    text-align: center;
}

.logout {
    position: absolute;
    bottom: 2px;
}

.skills {
    position: absolute;
    align-content: center;
    color: aliceblue;
    top: 110px;
    left: 20%;
    border: #fff;
    /* z-index: 999; */
}

.empty {
    top: 445px;
    left: 19%; 
    width: 105%; 
    height: 18rem;
    position: absolute;
    background-color: rgb(50, 48, 48);
    box-shadow: 2px 2px 20px;
    border-radius: 10px;
}

.empty2 {
    top: 800px;
    left: 19%; 
    width: 105%; 
    height: 21.8rem;
    position: absolute;
    background-color: rgb(50, 48, 48);
    box-shadow: 2px 2px 20px;
    border-radius: 10px;
}

.empty3{
    top: 140px;
    left: 19%; 
    width: 105%; 
    height: 12rem;
    position: absolute;
    background-color: rgb(48, 50, 49);
    box-shadow: 2px 2px 20px;
    border-radius: 10px;
}

.pfp{
    position: absolute;
    color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: rgb(83, 170, 220);
    left: 260px;
    top: 160px;
    box-shadow:#353535 0.5px 0.5px 10px;
}

.mypic{
    position: absolute;
    left:22.1% ;
    top: 26.5%;
    z-index: 999;
}


    .name  {
            position: absolute;
            font-size: 1.5rem;
            color:aliceblue;
            font-style: italic;
            text-shadow: #444343 1px 1px 10px;
            left: 36%;
            top: 200px;
            z-index: 999;
    }

    .pfp-des{
        position: absolute;
                font-size: 0.8rem;
                color:aliceblue;
                font-weight: lighter;
                text-shadow: #444343 1px 1px 10px;
                font-family:Arial, Helvetica, sans-serif;
                left: 36.3%;
                top: 240px;
                z-index: 999;
    }

/* @media (max-width: 768px) {
    .header {
        padding: 20px 5%;
    }

    .navbar a {
        font-size: 16px;
    }

    li {
        padding-bottom: 1rem;
    }
} */

.img1{
  position:relative;
  top: 360px;
  left: 2%;
  background-color: rgb(37, 35, 35);
  padding: 20px;
  border-radius: 10px;
  height: 240px;
  width: auto ;
}

.img2{
  position: absolute;
  top: 360px;
  left: 25rem;
  background-color: rgb(37, 35, 35);
  padding: 20px;
  border-radius: 10px;
  height: 240px;
  width: auto ;
}

.img3{
    position: absolute;
    top: 360px;
    left: 41rem;
    background-color:  rgb(37, 35, 35); 
    padding: 40px;
    border-radius: 10px;
}

.img4{
    position: absolute;
    top: 360px;
    left: 57rem;
    background-color:  rgb(37, 35, 35); 
    padding: 40px;
    border-radius: 10px;
}

.img5{
    position: relative;
    top: 798px;
    left: -490px;
    background-color:  rgb(37, 35, 35); 
    padding: 10px 10px 60px 10px;
    border-radius: 10px;
}

.img6{
    position: relative;
    top: 500px;
    left: -34px;
    background-color:  rgb(37, 35, 35); 
    /* padding: 10px; */
    border-radius: 10px;
}

.img7{
    position: absolute;
    top: 77rem;
    left: 36rem;
    background-color:  rgb(37, 35, 35); 
    border-radius: 10px;
    padding: 20px;
}
.img9{
    position: absolute;
    top: 77rem;
    left: 55.4rem;
    background-color:  rgb(37, 35, 35); 
    border-radius: 10px;
    padding: 20px;
}

.pj{
    font-size: 20px;
    position: relative;
    color: #fff;
    top: 765px;
    left: -496px;
}


.proj-hd{
    position: absolute;
    color: #fff;
    top:1025px;
    left: 350px;
}

.proj-hd2{
    position: absolute;
    color: #fff;
    font-size: 22px;
    top:1005px;
    left: 775px;
}

.proj-des{
    position: absolute;
    color: #fff;
    top: 1072px;
    left: 420px;
}

.proj-des2{
    position: absolute;
    color: #fff;
    font-size: 14px;
    top: 1045px;
    left: 796px;
}

.nav-item1{
    color: rgb(124, 209, 237);
    font-weight: bold;
}

.nav-item1 ::after{
  content: '📲';
  
}

/* @media (max-width: 768px) {

    .navbar a {
        font-size: 16px;
        margin-left: 15px; 
    }

    .skills {
        top: 80px; 
        left: 0;
    }

    .skills .img1,
    .skills .img2 {
        left: 0;
        top: 0; 
        width: 100%;
        position: relative; 
        padding: 15px; 
    }

    .empty
    {
        top: 300px; 
        left: 0;
        width: 100%;
        position: relative; 
        padding: 15px; 
    }

    .empty2 {
        top: 300px; 
        left: 0;
        width: 100%;
        position: relative; 
        padding: 15px; 
    }

    .img1,
    .img2,
    .img3,
    .img5
    .img6 {
        top: 100px; 
        left: 0;
        width: 100%;
        position: relative; 
        padding: 15px; 
    }
} */



/* @media (max-width: 768px) {
    .header {
        padding: 10px 5%; 
    }

    .navbar a {
        font-size: 14px; 
    }

    .navbar a::before {
        height: 1px; 
    }

    .container {
        width: 100%; 
        flex-direction: column; 
    }

    .navbar {
        flex-direction: column; 
        text-align: center; 
    }

    .navbar a {
        margin: 10px 0; 
    }

    .sidebar {
        width: 100%; 
    }

    .sidebar a {
        position: relative;
        left: 0;
        top: 0;
        margin: 10px 0; 
    }

    .skills {
        top: 60px;
        left: 0;
        text-align: center; 
    }

    .skills .img1, .skills .img2, .empty, .empty2, .img1, .img2, .img3, .img5, .img6 {
        left: 0;
        top: 0;
        width: 100%;
        padding: 15px;
        position: relative;
    }

    .proj-hd, .proj-des, .pj {
        position: relative;
        top: 0;
        left: 0;
        text-align: center; 
    }
} */


.skilltx{
    font-size: 20px;
    position: absolute;
    top: 305px;
}


.projects2{
    position: absolute;
    color: #fff;
    top: 73.5rem;
    left: 15rem;
    font-weight: bold;
    font-size: 20px;
}

.empty4{
    top: 1215px;
    left: 14.3rem; 
    width: 79rem; 
    height: 21rem;
    position: absolute;
    background-color: rgb(50, 48, 48);
    box-shadow: 2px 2px 20px;
    border-radius: 10px;
    
}

.img8{
    position: relative;
    top: 1232px;
    left: 250px;
    background-color:  rgb(37, 35, 35); 
    padding: 10px;
    border-radius: 10px;
}

.proj-hd3{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    top: 70.3rem;
    left: 20.6rem;
}

.proj-des3{
    position: relative;
    color:#fff;
    font-size: 18px;
    top: 70.5rem;
    left: 21.7rem;
}